<div class="about-main">
   <h2>MyFavとは</h2>
    <p>
        SNSサービスです。
    </p>
    <p>
        自分の好きな映画やアニメ、テレビ番組、ドラマなどを投稿して
        他のユーザーと
    </p>
    <p>
        自分の好きなジャンルを共有しながらコミュニケーションできます。
    </p> 
</div>